<div id="edit-job">
    <h2 mat-dialog-title>Edit this job</h2>
    <form>
        <div mat-dialog-content>
            <div id="name">
                <h4>Job Title</h4>
                <mat-form-field id="edit-name">
                    <input matInput [formControl]="nameControl">
                </mat-form-field>
            </div>


            <div id="skills">
                <h4>Your Skills</h4>
                <div id="chips">
                    <div id="chip-list">
                        <mat-chip-list>
                            <mat-chip
                                    *ngFor="let skill of requiredSkills"
                                    (click)="removeSkill(skill)">

                                {{skillDict[skill]}}

                                <mat-icon>cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <mat-form-field id="add-skill" appearance="fill">
                        <mat-label>Add a skill</mat-label>
                        <mat-select>
                            <mat-option (click)="addSkill(skill)" *ngFor="let skill of skills" value="{{skill}}">{{skillDict[skill]}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div id="description">
                <h4>Job description</h4>
                <mat-form-field>
                    <textarea id="description-input" matInput [formControl]="descriptionControl"></textarea>
                </mat-form-field>
            </div>

        </div>
        <mat-dialog-actions>
            <button mat-raised-button (click)="onOK()" color="primary">Save</button>
            <button mat-button (click)="onCancel()" color="warn">Cancel</button>
            <button *ngIf="allowDelete" mat-button (click)="delete()" color="warn">Delete profile</button>
            <button *ngIf="showDeleteConfirm" mat-raised-button (click)="cancelDelete()">Cancel Delete</button>
            <button *ngIf="showDeleteConfirm" mat-raised-button (click)="confirmDelete()" color="warn">Confirm Delete</button>
        </mat-dialog-actions>
    </form>
</div>