<div *ngIf="isLoaded()">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Hello {{employer.name}}!</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button class="action" mat-flat-button (click)="addJob()" color="accent">Add a job</button>
            <button class="action" mat-flat-button (click)="viewJobs()" color="primary">View my jobs</button>
            <button class="action" mat-flat-button (click)="viewCandidates()" color="primary">View all candidates</button>
        </mat-card-actions>
    </mat-card>
</div>

