
<!--profile/avatar button-->


<div ng-app="app" ng-controller="AuthController">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav-content>
            <mat-toolbar color="primary">
                <h1 class="mat-h1"><a>{{title}}</a></h1>
                <div class="flex-spacer"></div>
                <button id="logout-button" mat-raised-button *ngIf="auth.loggedIn" (click)="signOut()">Logout</button>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

