<div *ngIf="isLoaded()">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Hello {{candidate.name}}!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Statement: {{candidate.statement}}
            Skills
            <ul>
                <li *ngFor="let skill of candidate.skills">{{skillDict[skill]}}</li>
            </ul>
            Searchable: {{candidate.searchable}}

        </mat-card-content>
        <button mat-button (click)="editProfile()" color="primary">Edit Profile</button>

        <button mat-button (click)="viewJobs()" color="primary">View all jobs</button>
        <button mat-button (click)="viewInterestedJobs()" color="primary">View interested jobs</button>
    </mat-card>
</div>

